{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

  <p>Welcome to TECH BOX, your ultimate destination for all things tech and programming! Our website is dedicated to keeping you up-to-date with the latest news, trends, and developments in the world of technology, as well as providing valuable resources and insights for programmers of all skill levels.

Our team of experts is passionate about technology and programming, and we strive to deliver high-quality, informative content that is both engaging and accessible. Whether you're a seasoned developer or just starting out, TECH BOX has something for everyone.</p>

<h1> Explore our site to discover a wealth of articles, tutorials, and reviews covering a wide range of topics, including:</h1>
<ul>
  <li>Programming languages and frameworks</li>
  <li>Software development tools and methodologies</li>
  <li>
Artificial intelligence and machine learning</li>
<li>Cybersecurity and data privacy</li>
<li>Mobile app development</li>
<li>Web development and design</li>
<li>Gaming and entertainment technology</li>
<li>
Hardware and gadgets</li>
</ul>






<p>In addition to our informative articles and tutorials, TECH BOX also offers a vibrant community forum where you can connect with other tech enthusiasts and developers from around the world. Share your ideas, ask for advice, and collaborate on projects with like-minded individuals who share your passion for technology.

So what are you waiting for? Join the TECH BOX community today and take your tech and programming skills to the next level!</p>

</div>

{{ end }}
